# Proveedores Google Cloud para BigQuery, GCS, etc.
apache-airflow-providers-google
google-cloud-bigquery
db-dtypes
pandas
numpy
torch==2.2.2
torchtext==0.17.2
# RAG: embeddings y búsqueda vectorial
sentence-transformers
faiss-cpu
# API
fastapi
uvicorn[standard]